* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    
}

.superior {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row;
    background-color:#fafafa ;
    
}

.ladoizquierdo {
    padding: 2% 0% 3% 15%;
    margin: 0 0 0 0;
}


.ladoizquierdo img {
    height: 630px;
    width: 520px;
    margin: 0 0% 0 0;
    padding: 0 0 0 10%;
}

.ladoderecho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 5% 3% 1%;
    
}


.caja1 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items:center ;
    width: 340px;
    height: 400px;
    margin: 0% 0% 5% 0%;
    padding: 30px 30px 30px 30px;
    border: solid 0.5px;
    border-color: #d8d8d8;
}

.caja2 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 340px;
    text-align: center;
    padding: 18px 30px 18px 30px;
    margin: 0% 5% 5% 0%;
    border: solid 0.5px;
    border-color: #b8b8b8;
}


.logostiendas {
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 0;
}

.logostiendas img {
    width: 150px;
    margin: 0 5px 0 0;
}

.imginstagram {
    width: 200px;
    height: 55px;
    margin: 0 0 35px 0;
}

.caja1 input {
    width: 100%;
    margin: 2px 0 2px 0;
    padding: 7px 0 7px 1px;
    border: solid 0.5px;
    border-color: #b1b1b1;
}

.caja1 button {
    background-color: #b2dffc;
    color: #fff;
    border: none;
    width: 100%;
    padding: 6px 0 6px 0;
    border-radius: 3px;
    margin: 10px 0 20px 0;
}  

.iniciarfacebook {
    margin: 20px 0 20px 0;
    background-color: #fff;
}

.link1, .link2, .link3 {
    text-decoration: none;
}

.lineas {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.lineas div {
    padding-top:10px ;
    width: 43%;
}

.lineas p {
    margin: 0 20px 0 20px;
}